/**
 * CSS fyrir sýnilausn á verkefni 2.
 * Heldur einfalt en notar grunn CSS og flexbox.
 * _Ekki_ skalanlegt.
 */

/**
 * Fjarlægja gefið margin og padding af öllu.
 */
* {
  margin: 0;
  padding: 0;
}

/**
 * Setja border-box á öll element
 * => reiknum stærð box sem width + margin
 * padding + border ekki inní því.
 */
html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Hjálpar class sem felur sjónrænt það sem
 * skjálesarar lesa.
 */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/** Letur **/

/* TODO setja inn letur */
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
/**
 * Lætur myndir aldrei taka meira pláss en
 * foreldri skilgreinir.
 */
img {
  max-width: 100%;
}

/**
 * Litur á hlekkjum erfist frá foreldri
 */
a {
  color: inherit;
}

/**
 * Leturstærð erfist frá foreldri í form elements.
 */
input,
button,
select {
  font-size: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  background: #ffeedd;
  color: #000000;
}

header,
nav,
footer {
  align-self: stretch;
}

main {
  max-width: 1100px;
  width: 100%;
  margin-bottom: 30px;
}

/** Haus **/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 3.25rem;
  margin-bottom: 10px;
}
/* TODO skilgreiningar fyrir haus/header */

/** Valmynd **/

/* TODO skilgreining fyrir nav  */
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.5rem;
  background: #ffeedd;
  padding-bottom: 10px;
  border-bottom: 3px solid #000000;
  margin-bottom: 20px;
}

nav a,
nav strong {
  text-decoration: none;
  padding: 5px 10px;
}

nav a:hover,
nav a:focus {
  font-weight: bold;
  text-decoration: underline;
}

/** Meginmál **/

main {
  max-width: 1100px;
}
/* TODO almennar skilgreiningar fyrir meginmál */

/** Fótur **/
footer {
  display: flex;
  justify-content: center;
  background: #996644;
  border-top: 1px solid #000000;
}

.footer-content {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.footer-content ul {
  list-style: none;
}
/* TODO skilgreiningar fyrir footer */

/** Flekar / cards á forsíðu **/

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card img {
  width: 100%;
  height: 300px;
}

.card h2 {
  font-size: 2rem;
  font-weight: bold;
}

.button {
  display: inline-block;
  align-self: flex-start;
  background: #996644;
  color: #ffeedd;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
}
/* TODO */

/** Textasíða **/

main > h2 {
  margin-bottom: 20px;
}

main > h3 {
  margin-bottom: 10px;
}

main > p {
  margin-bottom: 30px;
}

main img {
  width: 100%;
}

/* TODO */

/** Töflur **/

table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
  margin-bottom: 30px;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background: #eebb99;
}
/* TODO  */

/** Form **/

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

fieldset {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input,
select,
textarea {
  width: 100%;
}

/* TODO */